html {
    display: flex;
    flex-basis: auto;
    justify-content: center;
    font-family: 'Limelight', cursive, Arial, Helvetica, sans-serif;
    color: ghostwhite;
    background-color: black;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 5%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items:flex-start;

}

.results-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form {
    text-align: left;
}

#pic {
    width: 50px;
    height: auto;
}

#movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,510px);
    grid-auto-rows: auto;
    justify-content: center;
    width: 95vw;
}

.movie-card {
    display: flex;
    flex-direction: column;
    margin: 5px;
    background-color: rgba(255, 0, 0, 0.196);
    border-radius: 25px;
}

.movie-poster {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}

.more {
    display: flex;
    align-items: center;
    justify-content: center;
}

#load-more-movies-btn {
    display: flex;
}
#close-search-btn {
    display: none;
}