html {
    display: flex;
    flex-basis: auto;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: ghostwhite;
    background-color: black;
}

.top {
    text-align: center;
    padding-bottom: 5%;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

#pic {
    width: 50px;
    height: auto;
}

#movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,510px);
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-auto-rows: auto;
    justify-content: center;
    width: 95vw;
}

.movie-poster {
    max-width: 100%;
    height: auto;
}

.more {
    display: flex;
    align-items: center;
    justify-content: center;
}

#load-more-movies-btn {
    display: flex;
}
#close-search-btn {
    display: none;
}